<div class="login-container" *ngIf="!auth.loggedIn">
    <br>
    <br>
    <br>
    <mdb-card class="login-popup">
        <mdb-card-body>

          <mdb-card-title>
            <h4>Login</h4>
          </mdb-card-title>

          <mdb-card-text> Login with the password you know 😉
          </mdb-card-text>
          <input class="form-control" id="password" name="password" type="password" [(ngModel)]="enteredPassword"required>
          <br>
          <p class="red-text" *ngIf="invalidPassword">Incorrect Password</p>
          <a mdbBtn color="primary" (click)="login()" mdbWavesEffect>Login</a>
        </mdb-card-body>
      </mdb-card>
</div>
<div class="container" *ngIf="auth.loggedIn">
  <br>
  <h2 class="green-text">Successfully Authenticated! 🥳</h2>
  <br><hr><br>
  <h3>Process:</h3>
  <p><u>Steps taken to encrypt the password: </u></p>
  <ul>
    <li>We first hashed the password using the bcrypt library via Node.js</li>
    <li>We used console.log to access the hash password</li>
    <li>After that, we then took the hashed password from the console and placed it into an Angular Service</li>
    <li>We use bcrypt's compareSync functions to compare the user inputted code against the hashed password</li>
    <li>If the password was the same, we then authenticated the user - otherwise we told them that their entered password was incorrect</li>
  </ul>
</div>