<div class="login-container">
    <br>
    <br>
    <br>
    <mdb-card class="login-popup">
        <mdb-card-body>

          <mdb-card-title>
            <h4>Login</h4>
          </mdb-card-title>
          
          <mdb-card-text> Login with the password you know 😉
          </mdb-card-text>
          <input class="form-control" id="password" name="password" type="password" required>
          <br>
          <a href="#" mdbBtn color="primary" (click)="login()" mdbWavesEffect>Login</a>
        </mdb-card-body>
      </mdb-card>
</div> 